# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Виртуальное окружение
venv/
env/
.venv/
.env/

# Логи
*.log

# Настройки IDE
.vscode/
.idea/

# Секреты
*.env
config.ini
secret.json

# Бинарники
*.exe
*.dll
*.so
*.dylib

# Сборка / дистрибутивы
build/
dist/
*.egg-info/
.eggs/


*.swp
